@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1600px;
  width: calc(100% - 5rem);
  margin: auto;
  font-family: sans-serif;
}